.Container {
    min-height: 250px;
    background-color: #ffffff;
    width: 80%;
    border: 1px solid #138d2f;
    border-radius: 8px;
    margin-left: 130px;
  }

.ContactHeader {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #138d2f;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.ContactText {
    font-weight: bold;
    font-size: 20px;
    line-height: 14px;
    color: #547799;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ContactHr {
    border-top: 1.8px solid #138d2f;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .Container {
        margin-top: 20px;
        margin-left: 60px;
        max-width: 400px;
    }
    .ContactText {
        line-height: 22px;
        font-size: 18px;
    }
  }