.Form {
    min-height: 320px;
    margin-left: 105px;
    margin-top: 10px;
}

.Container {
    min-height: 300px;
    margin-left: 105px;
    margin-top: 10px;
}

.GroupHeader {
    font-style: normal;
    font-size: 32px;
    letter-spacing: 0.14em;
    color: #138d2f;
}

.GroupCreateHeader {
    font-size: 32px;
    letter-spacing: 0.14em;
    color: #138d2f;
    margin-top: 1.8rem;
}

.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 80px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 45px;
}

.Button:hover {
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #21b248 !important;
}
  
.Button:active {
    background-color: #21b248 !important;
}

.Button:focus {
    background-color: #21b248;
}

.Hr {
    margin: auto;
    height: 1.8px;
    background-image: linear-gradient(rgb(2, 121, 26), rgba(56, 198, 70, 0.842), rgba(18, 229, 85, 0));
}

@media (max-width: 767px) {
    .Container {
    margin-left: 58px;
    }
    .Form {
    margin-left: 60px;
    }
  }
