.RowWidth {
    margin-left: 105px;
    margin-top: 10px;
  }

.SearchInput input {
    border-radius: 20px;
    color: #2ca630ac;
    padding-left: 15px;
    margin-bottom: 16px;
  }
  
.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    margin-left: 600px;
  }
  
.SearchIcon:hover {
    cursor: pointer;
    color: green;
  }

@media (max-width: 820px) {
    .SearchIcon {
    margin-left: 480px;
    }
    .RowWidth {
      margin-left: 150px;
      }
  }

@media (max-width: 767px) {
    .RowWidth {
    margin-left: 55px;
    }
    .SearchIcon {
    margin-left: 380px;
    }
  }

@media (max-width: 487px) {
    .SearchIcon {
    margin-left: 350px;
    }
  }

@media (max-width: 450px) {
    .SearchIcon {
    margin-left: 320px;
    }
  }

@media (max-width: 425px) {
    .SearchIcon {
    margin-left: 280px;
    }
  }

@media (max-width: 384px) {
    .SearchIcon {
    margin-left: 257px;
    }
  }

@media (max-width: 320px) {
    .SearchIcon {
    margin-left: 200px;
    }
  }