.Container {
    min-height: 343px;
    margin-left: 105px;
    margin-top: 10px;
  }

.CommentContainer {
  margin-left: 2px;
  min-height: 100px;
}

.RowWidth {
  margin-left: 105px;
  margin-top: 10px;
}

.InputContainer {
  margin-left: 55px;
  margin-top: 10px;
}


@media (max-width: 767px) {
  .Container {
  margin-left: 70px;
  max-width: fit-content;
  }
}
