.Container {
    min-height: 343px;
    margin-left: 110px;
    margin-top: 10px;
  }

.CommentContainer {
  margin-left: 2px;
  min-height: 100px;
}

.RowWidth {
  margin-left: 105px;
  margin-top: 10px;
}

.InputContainer {
  margin-left: 60px;
  margin-top: 10px;
}


@media (max-width: 767px) {
  .Container {
  margin-left: 75px;
  max-width: 400px;

  }

  .RowWidth {
    margin-left: 70px;
    margin-top: 10px;
  }

  .InputContainer {
    margin-left: 25px;
    margin-top: 10px;
    max-width: 400px;
  }


}
